{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<div class="container">
    <h2>Olimpic Sailing</h2>
    
    <table class="Olimpic sailing">
        
        
        <tbody>
            <tr>
                <td><img src="/static/Gallery/Photo_36772_20160812191906.jpg" alt="olimpic sailing" width="600" height="393">></td>
                <td><img src="/static/Gallery/images.jpg" alt="olimpic sailing" width="530" height="380 ">></td>
                <td><img src="/static/Gallery/images (1).jpg" alt="olimpic sailing" width="608" height="332">></td>
            </tr>
            <tr>
                <td><img src="/static/Gallery/Foiling-Revolution.jpg" alt="olimpic sailing" width="601" height="385">></td>
                <td><img src="/static/Gallery/1200px-Olympic_rings_without_rims.svg.png" alt="olimpic sailing" width="600" height="277">></td>
                <td><img src="/static/Gallery/300px-Beijingolympicsmedals.jpg" alt="olimpic sailing" width="510" height="457">></td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}
